<!-- page content -->
<div class="right_col" role="main">
    <!-- search -->
    <div class="page-title">
        <div >
            <div class="col-md-7 col-sm-7 col-xs-7 col-xxs-12  top_search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Buscar megalitos...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="animated flipInY col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <admin-megalitos></admin-megalitos>
            </div>
            <div class="animated flipInY col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <megalitos-etiquetas></megalitos-etiquetas>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->