<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="animated flipInY col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Registrate</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <sign-up></sign-up>
                    </div>
                </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <megalitos-etiquetas></megalitos-etiquetas>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
