<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
    <div class="profile_img">
        <!-- end of image cropping -->
        <div id="crop-avatar">
            <!-- Current avatar -->
            <img class="img-responsive avatar-view" ng-src="{{currentUser.avatar}}" alt="Avatar" title="Change the avatar">
        </div>
    </div>
    <h3>{{currentUser.username}}</h3>
    <ul class="list-unstyled user_data">
        <li><i class="fa fa-map-marker user-profile-icon"></i> {{currentUser.email}}
        </li>
        <li>
            <i class="fa fa-briefcase user-profile-icon"></i> {{currentUser.aboutYourself}}
        </li>
        <li class="m-top-xs">
            <i class="fa fa-external-link user-profile-icon"></i>
            <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
        </li>
    </ul>
    <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
    <br>
</div>
<div class="col-md-9 col-sm-9 col-xs-12">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li ng-init="selectTab(1)" role="presentation" class="active"><a href ng-click="selectTab(1)" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Comentarios</a>
            </li>
            <li role="presentation" class=""><a href ng-click="selectTab(2)" role="tab" data-toggle="tab" aria-expanded="false">Megalitos</a>
            </li>
            <li role="presentation" class=""><a href ng-click="selectTab(3)" role="tab" data-toggle="tab" aria-expanded="false">Datos Personales</a>
            </li>
            <li role="presentation" class=""><a href ng-click="selectTab(4)" role="tab" data-toggle="tab" aria-expanded="false">Rutas</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div ng-show="isSelected(1)" role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <user-comments></user-comments>
            </div>
            <div ng-show="isSelected(2)" role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <!-- start recent activity -->
                <form name="megalitosForm " novalidate>
                    <h3>Select files</h3>
                    <input class="img-responsive" type="file" nv-file-select="" uploader="uploader" ng-click="uploader.clearQueue()" />
                    <div ng-repeat="item in uploader.queue">
                        <br/>
                        <strong>{{ item.file.name }}</strong>
                        <div class="cropArea img-responsive center-block">
                            <img-crop image="item.image" result-image="item.croppedImage" result-image-size="160"></img-crop>
                        </div>
                        <div>Cropped Image:</div>
                        <div><img class="img-thumbnail center-block" ng-src="{{item.croppedImage}}" /></div>
                    </div>
                    <div class="row">
                        <p>Media gallery design emelents</p>
                        <div class="col-md-55" ng-repeat="file in files">
                            <div class="image view view-first">
                                <img style="width: 100%;  display: block;" ng-src="/api/containers/profile/download/{{file.name}}" alt="image" />
                                <div class="mask">
                                    <p>Your Text</p>
                                    <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="caption">
                <p>Snow and Ice Incoming for the South</p>
            </div>-->
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-6 col-md-offset-3 ">
                            <button ng-disabled="megalitosForm.$invalid||uploader.queue.length ==0" type="submit" class="btn btn-success" ng-click="submitForm($event)">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- end recent activity -->
            </div>
            <div ng-show="isSelected(3)" role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <!-- start recent activity -->
                <user-comments></user-comments>
                <!-- end recent activity -->
            </div>
        </div>
    </div>
</div>
