<div>
    <a ng-click="openLightboxModal()">
        <img class="img-responsive" border="0" height="400" ng-src="/api/containers/img/download/{{imagesMegalito[0].imagenes[0].name}}" width="400">
    </a>
    <br>
    <span ng-show="lugar.pueblo"> <p><b>Municipio: </b>{{lugar.pueblo}}</p>
                </span>
    <span ng-show="megalito.tipoMegalito"> <p><b>Tipo Megalito: </b>{{megalito.tipoMegalito}}</p>
                </span>
    <span ng-show="megalito.estacionMegalitica"> <p> <b>Estación Megalitica: </b>{{megalito.estacionMegalitica}}</p></span>
    <span ng-show="coordenadas.lat&& coordenadas.lng"> <p> <b>Coordenadas: </b>{{coordenadas.lat+ "  " +coordenadas.lng }}</p></span>
    <span ng-show="megalito.localizacion"><p> <b> Localización: </b>{{megalito.localizacion}}</p></span>
    <span ng-show="megalito.descripcion"> <p> <b>Descripción: </b> {{megalito.descripcion}}</p></span>
    <span ng-show="megalito.observaciones"> <p><b>Observaciones: </b> {{megalito.observaciones}}</p></span>
    <span ng-show="megalito.descubrimiento"> <p> <b>Descubrimiento: </b>{{megalito.descubrimiento}}</p></span>
    <span ng-show="megalito.bibliografia"> <p><b>Bibliografia: </b> {{megalito.bibliografia}}</p></span>
</div>
<map></map>
<comments></comments>
<a href="http://www.wikirutas.es/rutas/Navarra/Pirineo_Navarro/MENDAUR_ESTACIoN_MEGALITICA/">MENDAUR - ESTACIÓN MEGALITICA</a>
