<ul class="nav navbar-nav navbar-right" ng-show="!currentUser">
    <li class="dropdown">
        <a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Log In
            <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right login-dp">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal form-label-left" name="loginForm " novalidate>
                            <!-- Email -->
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control col-md-7 col-xs-12" type="text" name="email" ng-model="user.email" placeholder="email" required="required">
                                <ul class="parsley-errors-list filled "></ul>
                            </div>
                            <!-- Contraseña -->
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input class="form-control col-md-7 col-xs-12" type="password" name="password" ng-model="user.password" placeholder="Password" required="required">
                                <ul class="parsley-errors-list filled "></ul>
                                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                <div class="help-block text-right"><a href="#/sign-up">Registrate</a></div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-6 col-md-offset-3 ">
                                    <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-success" ng-click="login()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>

